# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/prithvora?schema=public"
DIRECT_URL="postgresql://username:password@localhost:5432/prithvora?schema=public"


# NextAuth Configurations
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_secret_key_generate_using_openssl_rand_base64_32"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Integrations
# Phone number format with country code (e.g. 919876543210 for India)
NEXT_PUBLIC_WHATSAPP_NUMBER="919999999999"
CONTACT_EMAIL_RECEIVER="info@prithvora.com"

# SMTP Settings for Lead Notifications (Email Integration)
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="smtp_user"
SMTP_PASS="smtp_pass"
